{% set activePage = page.url %}

<header>

{# informacion de cabecera #}

{# fin informacion de cabecera #}

<div class="row 
            gx-1
            gx-md-3
            text-lg-center
            mb-4
            ">
    
    <div class="col-4
                col-lg-12
                p-3
                ">
      <img class="img-fluid
                  img-thumbnail
                  rounded-3
                  shadow
                  " 
           src="/assets/images/profile-pic-250x250.png" 
           alt="Header Image">
    </div>
    
    <div class="col
                align-self-end
                p-3
                ">
      <h1 class="
                my-0
                h3
                ">
                {{ site.title }}
      </h1>
      <h2 class="
                h5
                mt-0
                
                ">
        {{ site.site_moto }}
      </h2>
      
      <span class="mt-2">
      
      <a class="link-secondary 
                link-offset-2 
                link-underline-opacity-0 
                link-opacity-75-hover
                link-underline-opacity-25-hover
                pe-2
                "
                href="https://github.com" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>

      <a class="link-secondary 
                link-offset-2 
                link-underline-opacity-0 
                link-opacity-75-hover
                link-underline-opacity-25-hover
                pe-2
                "
                href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin  fa-xl"></i></a>

      <a class="link-secondary 
                link-offset-2 
                link-underline-opacity-0 
                link-opacity-75-hover
                link-underline-opacity-25-hover
                pe-2
                "
                href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram  fa-xl"></i></a>

      </span>
    </div>

{%- if locale == 'en' -%}
{%- set otherLocale = 'es' -%}
{%- else -%}
{%- set otherLocale = 'en' -%}
{%- endif -%}

{% set otherLocaleContent = collections.contentByLocale(otherLocale) %}
{%- if translationKey -%}
<div>
  <nav class="ep-language-menu">
    {%- for otherContent in otherLocaleContent -%}
    {%- if otherContent.data.translationKey == translationKey -%}
    <a href="{{ otherContent.url }}">
      {%- if otherContent.data.locale == "en" %}
      <img src="/assets/images/uk-icon.png" alt="English">
      {%- endif -%}
      {%- if otherContent.data.locale == "es" %}
      <img src="/assets/images/sp-icon.png" alt="Español">
      {%- endif -%}
    </a>
    {%- endif -%}
    {%- endfor -%}
  </nav>
</div>
{%- endif -%}

</div>

</header>